<!DOCTYPE html>
<html>
<head>
    <title>{% if title %}{{ title }}{% else %}VMS-Admin{% endif %}</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'/>
    <link rel="stylesheet" href="/static/css/mp_main.css"/>
    {% for stylesheet in stylesheets %}
        <link rel="stylesheet" href="{{ stylesheet }}"/>
    {% endfor %}
    {% for script in scripts %}
        <script src="{{ script }}"></script>
    {% endfor %}
    <script src="/static/js/ajaxRequest.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
        {% block body %}{%endblock%}
</body>
</html>